.conbg {
    width: 100%;
    height: 500px;
  }
  .bg2 {
    z-index: 2;
    position: relative;
    width: 70%;
    margin: 100px auto;
    transform: rotate(10deg);
    background-image: url(https://vcdn-dulich.vnecdn.net/2022/03/19/Grand-Palace-6027-1647663099.jpg);
    background-size: cover;
    background-position: right -50px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg1 {
    z-index: 3;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    background-image: url(https://hktraveljapan.jp/media/images/gioi-thieu/IN%20DAN%20CAC%20TRUONG%20ok%202.jpg);
    background-size: cover;
    background-position: right -70px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg {
    z-index: 4;
    position: relative;
    margin: auto;
    transform: rotate(-5deg);
    height: 500px;
    background-image: url(https://c1.wallpaperflare.com/preview/843/155/800/da-nang-vietnam-danang-vietnamese.jpg);
    background-size: cover;
    background-position: right -50px;
    background-color: lightslategray;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);
  }
  .bg-text {
    width: 100%;
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
  }
  .bg-text a {
    margin: 5px;
    float: right;
  }
  
  #bg1:target .bg {
    animation: ciut 1s forwards;
  }
  #bg1:target {
    animation: fre 0.3s forwards;
  }
  #bg2:target .bg1 {
    animation: ciut 1s forwards;
  }
  #bg2:target {
    animation: fre1 0.3s forwards;
  }
  #conbg:target .bg2 {
    animation: ciut1 1s;
  }
  @keyframes fre1 {
    0% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes fre {
    0% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(-10deg);
    }
  }
  @keyframes ciut {
    0% {
      opacity: 1;
      transform: rotate(-5deg) scale(1);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg) scale(0);
    }
  }
  @keyframes ciut1 {
    0% {
      opacity: 0;
      transform: rotate(0deg) scale(0);
    }
    100% {
      opacity: 1;
      transform: rotate(370deg) scale(1);
    }
  }
  