<link rel="stylesheet" href="dulichnuocngoai.css">

<style>
  @keyframes colorChange {
      0% {
        color: red;
      }

      25% {
        color: blue;
      }

      50% {
        color: green;
      }

      75% {
        color: orange;
      }

      100% {
        color: red;
      }
    }

    .color-changing-text {
      animation: colorChange 5s infinite;
      text-align: center;
      position: relative;
    }
    a{
      text-decoration: none;
    }
</style>
<div class="container mt-5">

  <div class="card mt-5">
    <h1 class="text-center mt-5 color-changing-text">
      <div class="overline"></div>
      <p>Du Lịch Nước Ngoài</p>
      <div class="underline"></div>
    </h1>
    <div class="card-body p-3">
      Du Lịch Nước Ngoài với nhiều điểm đến mới hấp dẫn du khách trong và ngoài nước. Đặc biệt,
      Tour Du Lịch Nước Ngoài với nhiều đợt khuyến mãi đang chờ quý khách hàng như Du lich Han Quoc,
      Du lich Nhat Ban, Du lich Dai Loan, Du Lich Trung Quoc, Du lich HongKong, Du lich Chau Au, Du lich Dubai,...
    </div>
  </div>
  <div class="row container mt-5">
    <select ng-model="sort1" class="form-select custom-select me-3 fs-5" id="sort1" name="sort1" required>
      <option value="sx">Sắp Xếp</option>
      <option value="price">Tăng Dần</option>
      <option value="-price">Giảm Dần</option>
    </select>
    <select ng-model="hthi" class="form-select custom-select me-3 fs-5" id="sort1" name="sort1" required>
      <option value="hthi">Tất cả</option>
      <option value="1">1</option>
      <option value="4">4</option>
      <option value="8">8</option>
      <option value="12">12</option>
      <option value="16">16</option>
    </select>
    <select ng-model="gia" class="form-select custom-select  fs-5" id="gia" name="gia" required>
      <option value="">Giá</option>
      <option value="1">1tr-5tr</option>
      <option value="2">2tr-10tr</option>
      <option value="3">5tr-10tr</option>
      <option value="4">Dưới 10tr</option>
      <option value="5">Trên 10tr</option>
  </select>
</div>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 my-3" ng-repeat="p in products | filter: '2024'| filter: filterByPrice |  limitTo: 20 : page | orderBy : sort1 |limitTo: hthi  " >
      <div class="card shadow position-relative">
        <img
          class=""
          src="{{p.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title color-changing-text1">{{p.name}}</h5>
          <p class="color-changing-text1  m-0"><b>Giá: {{p.price | number}} đ</b></p>
          <h5 class="card-title">{{p.khachsan}}: <img src="../img/{{p.imgsao}}.jpg" alt=""></h5>
          <p>
            <i class="fa-regular fa-clock"></i> Thời gian: {{p.duration}}
            <br />
            <i class="fa-regular fa-calendar"></i> Ngày đi: {{p.start}}
          </p>
          <div class="text-center">
            <a href="#!detail/{{p.id}}" class="btn btn-warning text-white">Xem chi tiết</a>
            <button class="btn btn-warning  text-white" ng-click="addCart(p) ; themvao()" >Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <iframe src="card3.html" frameborder="0"  width="100%" height="500px"></iframe>

    <h5 class="parallax p-5 mt-4 text-danger"> </h5>

    <div class="mt-5" id="parallax"></div>

    <iframe src="card5.html"  width="1300px" height="700px" scrolling="no"></iframe>


    <div class="row">
      <div class="col-sm-12">
        <img alt="" src="https://hktraveljapan.jp/media/images/gioi-thieu/IN%20DAN%20CAC%20TRUONG%20ok%202.jpg" style="max-width: 100%; height: auto;">
      </div>
    </div>

    <div class="container mt-3">
      <div class="box-ctblog-grid">
        <div class="box-ctblog-grid-left">
          <div class="item col-md-6 col-lg-4 mt-3 p-2">
            <div class="content">
              <div class="thumb">
                <a href="#">
                  <img src="https://vcdn-dulich.vnecdn.net/2022/03/19/Grand-Palace-6027-1647663099.jpg" alt="">
                </a>
              </div>
              <div class="description">
                <div class="label">
                  <i class="fa fa-caret-right"></i>
                  <a href="#">Kinh nghiệm du lịch</a>
                </div>
                <div class="name">
                  <h3><a href="#">TRẢI NGHIỆM THAM QUAN CHÙA TẠI CN3 </a></h3>
                </div>
                <p></p>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-lg-4  mt-3 p-2">
            <div class="content">
              <div class="thumb">
                <a href="#">
                  <img src="../img/cn3.png" alt="">
                </a>
              </div>
              <div class="description">
                <div class="label">
                  <i class="fa fa-caret-right"></i>
                  <a href="#">Kinh nghiệm du lịch</a>
                </div>
                <div class="name">
                  <h3><a href="#">TRẢI NGHIỆM THAM QUAN CẢNH QUAN TẠI CHÂU ÂU</a></h3>
                </div>
                <p></p>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-lg-4  mt-3 p-2">
            <div class="content">
              <div class="thumb">
                <a href="#">
                  <img src="../img/cn3.png" alt="">
                </a>
              </div>
              <div class="description">
                <div class="label">
                  <i class="fa fa-caret-right"></i>
                  <a href="#">Kinh nghiệm du lịch</a>
                </div>
                <div class="name">
                  <h3><a href="#">TRẢI NGHIỆM THAM QUAN CẢNH QUAN TẠI CHÂU ÂU</a></h3>
                </div>
                <p></p>
              </div>
            </div>
          </div>
          <div class="item col-md-6 col-lg-4 mt-3 p-2">
            <div class="content">
              <div class="thumb">
                <a href="#">
                  <img src="https://www.tuvanvisa.com/wp-content/uploads/2021/04/dich-vu-visa-nhat-ban.jpg" alt="">
                </a>
              </div>
              <div class="description">
                <div class="label">
                  <i class="fa fa-caret-right"></i>
                  <a href="#">Kinh nghiệm du lịch</a>
                </div>
                <div class="name">
                  <h3><a href="#">TRẢI NGHIỆM THAM QUAN CHÙA TẠI CN3</a></h3>
                </div>
                <p></p>
              </div>
            </div>
          </div>
    
    
        </div>
      </div>
    </div>
    <div class="box-why">
      <div class="why-item">
          <!-- Your content for the first box-why item here -->
          <h2 class="color-changing-text">Đánh giá chất lượng giúp chúng tôi!</h2>
          <img src="../img/z5061466820719_2fc91c699157cb8dd86b0af480176e7e.jpg" alt="">
      </div>
  </div>