
<div class="container mt-3">
  
    <div id="carouselExampleIndicators" class="carousel slide mt-5">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
          aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://hd1.hotdeal.vn/images/03-12-2014/tour%20maylay%20-thai/110876_body%20%2819%29.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/thailan.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/singapore.jpeg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://media.istockphoto.com/id/590050726/vi/anh/singapore-ph%C3%A1t-s%C3%A1ng-v%C3%A0o-ban-%C4%91%C3%AAm.jpg?s=612x612&w=0&k=20&c=t-ItU_cwk0YuKN0zx21jF0-skzdxBpn1jCVRJcLU7yE=" class="d-block w-100 h-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <h1 class="text-center mt-3 color-changing-text"> <div class="overline"></div>
      <p>Du Lịch Khác</p>
      <div class="underline"></div></h1>
      <label for="tour" class="form-label">Sắp Xếp</label>
      <select ng-model = "sort" class="form-select" id="tour" name="tour" required>
          <option value="price">Tăng Dần</option>
          <option value="-price">Giảm Dần</option>
      </select>
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3 my-3" ng-repeat="p in products | filter: 'Hà Nội' | limitTo: 16 : page | orderBy : sort  " >
      <div class="card shadow position-relative">
        <img
          class=""
          src="{{p.image}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title color-changing-text1">{{p.name}}</h5>
          <p class="color-changing-text1  m-0"><b>Giá: {{p.price}} đ</b></p>
          <h5 class="card-title">{{p.khachsan}}: <img src="../img/{{p.imgsao}}.jpg" alt=""></h5>
          <p>
            <i class="fa-regular fa-clock"></i> Thời gian: {{p.duration}}
            <br />
            <i class="fa-regular fa-calendar"></i> Ngày đi: {{p.start}}
          </p>
          <div class="text-center">
            <a href="#!detail/{{p.id}}" class="btn btn-warning text-white">Xem chi tiết</a>
            <button class="btn btn-warning  text-white"  ng-click="addCart(p)" >Thêm vào giỏ hàng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="parallax mt-5"></div>
  <h1 class="text-center mt-5 color-changing-text"> <div class="overline"></div>
    <p>Tham Quan Khác</p>
    <div class="underline"></div></h1>

</div>
<section class="hero-section">
  <div class="card-grid">
    <a class="card1" href="#">
      <div class="card__background" style="background-image: url(https://image.kkday.com/v2/image/get/w_960%2Cc_fit%2Cq_55%2Ct_webp/s1.kkday.com/product_152265/20230916170359_sCJpQ/jpg)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card1" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557187666-4fd70cf76254?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
    <a class="card1" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1556680262-9990363a3e6d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </li>
    <a class="card1" href="#">
      <div class="card__background" style="background-image: url(https://images.unsplash.com/photo-1557004396-66e4174d7bf6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)"></div>
      <div class="card__content">
        <p class="card__category">Category</p>
        <h3 class="card__heading">Example Card Heading</h3>
      </div>
    </a>
  <div>
</section>
<div class="container">
  <h1 class="text-center mt-5 color-changing-text"> <div class="overline"></div>
    <p>Điểm Nhấn Du Lịch</p>
    <div class="underline"></div></h1>
  <div id="carouselExampleDark" class="carousel carousel-dark slide mt-4">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../img/campuchia.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-light fs-1">Tham Quan Campuchia</h5>
          <p class="text-light fs-3">Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../img/chauau.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-light fs-1">Tham Quan Châu Âu</h5>
          <p class="text-light fs-3">Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../img/hanquoc.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="text-light fs-1">Tham Quan Hàn Quốc</h5>
          <p class="text-light fs-3">Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


</div>

<iframe class="mt-5" src="../Demo/card1.html" frameborder="0" width="100%" height="400px"></iframe>

<div class="mt-4" id="idparallax"></div>
<div class="box-why bg-dark">
  <div class="why-item">
      <!-- Your content for the first box-why item here -->
      <h2 class="color-changing-text">Đánh giá chất lượng giúp chúng tôi!</h2>
      <img src="../img/z5061466820719_2fc91c699157cb8dd86b0af480176e7e.jpg" alt="">
  </div>
</div>