<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
  <link rel="stylesheet" href="bootstrap-5.3.2-dist/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/e4dc91ab7d.js" crossorigin="anonymous"></script>
  <script src="bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
</head>

<body ng-app="myApp" ng-controller="myCtrl">
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> <img src="https://theme.hstatic.net/200000525857/1001199676/14/logo.png?v=6" alt="" class="img-fluid me-5" width="120"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
            </li>
            <li class="nav-item dropdown me-2">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Sản Phẩm
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Chương Trình Khuyến Mãi
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="#"> Đơn hàng</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="#">Hệ thống cửa hàng</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="#">Giới Thiệu</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="#">Tin Tức</a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link" href="#">Liên Hệ</a>
            </li>

          </ul>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item mt-2">
              <i class="bi bi-search me-2"></i>
              <i class="bi bi-person me-2"></i>
              <i class="bi bi-heart me-2"></i>
              <i class="bi bi-bag-check me-2"></i>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div><img src="https://theme.hstatic.net/200000525857/1001199676/14/slider_1.jpg?v=6" alt="" class="mt-4" height="100%" width="100%"></div>

    <div class="container">
      <div class="row  mt-4">
        <div class="col-sm-8">
          <select ng-model="gia" class="form-select custom-select fs-5" id="gia" name="gia">
            <option value="">Bộ Lọc</option>
            <option value="1">1tr - 5tr</option>
            <option value="2">2tr - 10tr</option>
            <option value="3">5tr - 10tr</option>
            <option value="4">Dưới 10tr</option>
            <option value="5">Trên 10tr</option>
          </select>
        </div>
        <div class="col-sm-4">
          <select ng-model="sort1" class="form-select custom-select me-3 fs-5" id="sort1" name="sort1">
            <option value="sx">Sắp Xếp</option>
            <option value="price">Tăng Dần</option>
            <option value="-price">Giảm Dần</option>
          </select>
        </div>

      </div>
    </div>

    <main>
      <div class="row">
        <div class="col-sm-2">
          <ul class="list-group mt-3">
            <h5>Thương Hiệu</h5>
            <li class="list-group-item"><input class="form-check-input  me-2" type="checkbox" value=""
              aria-label="Checkbox for following text input" ng-true-value="'No Brand'" ng-model = "brand">No Brand</li>
            <li class="list-group-item"><input class="form-check-input  me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input" ng-true-value="'Yes Brand'" ng-model = "brand">Cardina</li>
            <li class="list-group-item"><input class="form-check-input  me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">Laroma</li>
            <li class="list-group-item"><input class="form-check-input  me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">Hưng Việt</li>
            <li class="list-group-item"><input class="form-check-input me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">Pmax</li>
            <li class="list-group-item"><input class="form-check-input me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">Sunfity</li>
            <li class="list-group-item"><input class="form-check-input me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">Uniqlo</li>
            <li class="list-group-item"><input class="form-check-input me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">CT GROUP</li>
            <li class="list-group-item"><input class="form-check-input me-2" type="checkbox" value=""
                aria-label="Checkbox for following text input">Hương Giang</li>
          </ul>
        </div>
        <div class="col-sm-10 mt-4">
          <h5>Áo Chống Nắng (51 sản phẩm)</h5>
          <div class="row">
            <div class="col-sm-3 mt-3" ng-repeat="sp in products | filter: filterByPrice | orderBy : sort1 | filter: brand">
              <div class="card">
                <img class="card-img-top" src="{{sp.img}}" alt="{{sp.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{sp.name}}</h5>
                  <p class="card-price text-danger">{{sp.price | number}}</p>
                  <p class="card-text giamgia" style="text-decoration: line-through;">{{sp.price_after}} <span
                      class="badge bg-danger">{{sp.sale}}</span></p>
                  <img src="../img/5.jpg" alt="" class="img-fluid"><a href="#" class="btn btn-primary float-end"><i
                      class="bi bi-bag-check"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-center">
      Được thực hiện bởi Vũ Cao Trí
    </footer>
  </div>

  <script src="app.js"></script>
</body>

</html>