<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    </head>

    <body>
        <div  ng-app = "myApp" class="container">
            <div ng-controller="myCtrl">
                <form>
                    <div class="form-group">
                        <label>Họ Và Tên</label>
                        <input type="text" ng-model = "student.fullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ngày Sinh:</label>
                        <input type="text" ng-model = "student.birthday" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Điểm: </label>
                        <input type="text" ng-model = "student.mark" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" ng-click = "insert()" ng-show = "index == -1">Thêm</button>
                        <button class="btn btn-default" ng-click = "update()" ng-hide = "index == -1" >Sửa</button>
                        <button class="btn btn-default" ng-click = "delete()" ng-disabled = "index == -1">Xóa</button>
                        <button class="btn btn-default" ng-click = "cancel()">Hủy</button>
                        <button class="btn btn-default" ng-click = "clear()">Mới</button>
                    </div>
                </form>
                <table class="table">
                    <tr>
                        <th>Họ Và Tên:</th>
                        <th>Ngày Sinh</th>
                        <th>Điểm:</th>
                        <th>Xếp Loại</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat = "st in students">
                        <td>{{st.fullname}}</td>
                        <td>{{st.birthday}}</td>
                        <td>{{st.mark}}</td>
                        <td>
                            <span ng-if="st.mark < 5">Yếu/Kém</span>
                            <span ng-if="st.mark >= 5 && st.mark <= 8">Trung Bình/Khá</span>
                            <span ng-if="st.mark > 8">Giỏi/Xuất Sắc</span>
                        </td>
                        <td>
                            <a href="#" ng-click = "edit($index)">Sửa</a>
                        </td>
                    </tr>

                </table>

            </div>
        </div>
        <script>
            var app = angular.module("myApp",[]);
            app.controller("myCtrl",function($scope){
               $scope.students = [];
               $scope.students = {};
               $scope.index = -1;
                $scope.students = [
                    {
                        fullname: "Nguyễn Văn Tèo",
                        birthday: "20-01-1995",
                        mark : 8.5
                    },
                    {
                        fullname: "Phạm Thị Nở",
                        birthday: "15-11-1985",
                        mark : 5.5
                    }
                ];
                $scope.clear = function(){
                $scope.student = {};
                $scope.index = -1;
            }
            $scope.insert = function(){
                $scope.students.push(angular.copy($scope.student));
                $scope.clear();
            }
            $scope.update = function(){
                $scope.students[$scope.index] = angular.copy($scope.student);
                $scope.index = -1;
            }
            $scope.delete = function(){
                $scope.students.splice($scope.index,1);
                $scope.clear();
            }
            $scope.cancel = function(){
                if($scope.index == -1){
                    $scope.clear();
                }else{
                    $scope.edit($scope.index)
                }
            }
            $scope.edit = function(index){
                $scope.index = index;
                $scope.student = angular.copy($scope.students[index]);
            }
            });
           
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
